@import '../../style.scss';

.posts {
	@include themify($themes) {
		display: flex;
		flex-direction: column;
		gap: 30px;

		@include tablet {
			gap: 20px;
		}

		@include mobile {
			gap: 10px;
		}

		hr {
			margin: 20px 0;
			border: none;
			height: 0.5px;
			background-color: themed('border');
		}

		.end {
			margin: 10px;
			display: flex;
			flex-direction: row;
			// justify-content: end;
			align-items: center;
			color: themed('border');
			gap: 20px;

			div {
				flex: 1;
				height: 1px;
				background-color: themed('border');
			}
		}

		.suggestions {
			display: none;

			@include tablet {
				display: block;
			}
		}

		.message {
			padding: 30px 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: themed('textColor');

			span {
				font-size: 30px;
				font-weight: 500;
			}

			svg {
				margin-top: 20px;
				width: 50px;
				height: 50px;
			}
		}

		.start {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 20px;
			padding: 20px;
			color: white;
			background-color: $color-primary;

			h1 {
				font-size: 3rem;
				line-height: 3rem;

				@include tablet {
					font-size: 2.5rem;
					line-height: 2.5rem;
				}

				@include mobile {
					font-size: 2rem;
					line-height: 2rem;
				}
			}

			.generate {
				display: flex;
				align-items: center;
				gap: 10px;
				padding: 10px;
				font-size: 12px;
				color: gray;
				background-color: themed("bg");
				border: none;
				border-radius: 10px;
				cursor: pointer;

				svg {
					color: themed("textColor");
				}
			}

			.write {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 20px;
				// margin: 20px 0px;
				padding: 10px;
				background-color: themed("bg");
				border-radius: 10px;

				@include mobile {
					gap: 10px;
				}

				img {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					object-fit: cover;

					@include mobile {
						display: none;
					}
				}

				textarea {
					flex: 5;
					padding: 10px;
					border: 1px solid themed('border');
					background-color: transparent;
					color: themed('textColor');
					border-radius: 6px;
					resize: none;
					width: 50%;
				}

				button {
					border: none;
					background-color: $color-primary;
					color: white;
					padding: 10px;
					border-radius: 6px;
					cursor: pointer;
				}
			}

		}
	}
}