@import '../../style.scss';

.posts {
	@include themify($themes) {
		display: flex;
		flex-direction: column;
		gap: 30px;

		@include tablet {
			gap: 20px;
		}

		@include mobile {
			gap: 10px;
		}

		hr {
			margin: 20px 0;
			border: none;
			height: 0.5px;
			background-color: themed('border');
		}

		.end {
			margin: 10px;
			display: flex;
			flex-direction: row;
			// justify-content: end;
			align-items: center;
			color: themed('border');
			gap: 20px;

			div {
				flex: 1;
				height: 1px;
				background-color: themed('border');
			}
		}

		.suggestions {
			display: none;

			@include tablet {
				display: block;
			}
		}

		.message {
			padding: 30px 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: themed('textColor');

			span {
				font-size: 30px;
				font-weight: 500;
			}

			svg {
				margin-top: 20px;
				width: 50px;
				height: 50px;
			}
		}
	}
}