@import '../../style.scss';

.leftbar {
	@include themify($themes) {
		flex: 1;
		min-width: 200px;
		height: calc(100vh - 69px);
		position: sticky;
		top: 69px;
		overflow: scroll;
		background-color: themed('bg');
		color: themed(textColor);

		@include tablet {
			width: 300px;
			min-width: 200px;
		}

		@include mobile {
			position: fixed;
			z-index: 1;
			transform: translateX(-300px);
			transition: transform 0.2s ease;

			&.true {
				transform: translateX(0px);
			}
		}

		.container {

			hr {
				margin: 20px 0;
				border: none;
				height: 0.5px;
				background-color: themed('border');
			}

			.menu {
				display: flex;
				flex-direction: column;

				a {
					text-decoration: none;
					color: inherit;
				}

				span {
					font-size: 12px;
					padding-bottom: 20px;
					padding-left: 20px;
				}

				.user {
					display: flex;
					align-items: center;
					gap: 10px;
					padding: 20px;

					img {
						width: 30px;
						height: 30px;
						border-radius: 50%;
						object-fit: cover;
					}

					span {
						font-size: 14px;
						padding: 0;
					}
				}

				.item {
					display: flex;
					align-items: center;
					gap: 10px;
					transition: all 0.15s ease-in-out;
					padding: 10px 20px;
					cursor: pointer;

					svg {
						width: 30px;
					}

					span {
						font-size: 14px;
						padding: 0;
					}

					&:hover {
						background-color: themed("bgSoft");
					}
				}
			}
		}
	}
}