@import '../../style.scss';

.updates {
	@include themify($themes) {
		background-color: themed('bgSoft');
		padding: 20px 50px;
		min-height: calc(100vh - 109px);
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		@include tablet {
			padding: 20px;
		}

		@include mobile {
			padding: 10px;
		}

		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 20px 20px 50px 20px;
			box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
			border-radius: 20px;
			background-color: themed('bg');
			color: themed('textColor');

			.section {
				display: flex;
				flex-direction: column;
				gap: 10px;

				span {
					font-weight: 700;
					font-size: 2rem;

					@include tablet {
						font-size: 1.75rem;
					}

					@include mobile {
						font-size: 1.5rem;
					}
				}

				ul {
					padding-left: 20px;
				}

				&.header {
					span {
						color: themed('logo');
						font-weight: 700;
						font-size: 3rem;

						@include tablet {
							font-size: 2.5rem;
						}

						@include mobile {
							font-size: 2rem;
						}
					}
				}
			}

			hr {
				margin: 20px 0;
				border: none;
				height: 0.5px;
				background-color: themed("border");
			}
		}
	}
}